/* Link  */

a:link { 
    color: #d9d9d9;
    text-decoration: none; 
  } 
  a:visited { 
    color: #d9d9d9;
    text-decoration: none; 
  } 
  a:hover { 
    color: yellowgreen;
    text-decoration: none; 
  } 
  a:active { 
    color: #d9d9d9;
    text-decoration: none; 
  }
  
  
  /* Fonts */
  
  @font-face {
    font-family: "redhatdisp" ;
    src: url('resources/fonts/rhd.ttf');
  }
  
  @font-face {
    font-family: "redhatdispB" ;
    src: url('resources/fonts/rhd_bld.ttf');
  }
  
  @font-face {
    font-family: "redhatdispBLK" ;
    src: url('resources/fonts/rhd_blk.ttf');
  }
  
  @font-face {
    font-family: "redhatdispEXB" ;
    src: url('resources/fonts/rhd_exb.ttf');
  }
  
  @font-face {
    font-family: "redhatdispI" ;
    src: url('resources/fonts/rhd_italic.ttf');
  }
  
  /*----------------------*/
  
  body {
      display: block;
      margin: 0;
  }










.musics-library {
    background-color: #006134;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .musics-library .page {
    background-color: #1e1e1e;
    overflow: hidden;
    width: 1440px;
    height: 1316px;
    position: relative;
  }
  
  .musics-library .div-2 {
    position: absolute;
    width: 1450px;
    height: 95px;
    top: 0;
    left: 0;
  }
  
  .musics-library .navbar {
    position: relative;
    width: 1440px;
    height: 95px;
    background-image: url(./img/rectangle-1.png);
    background-size: 100% 100%;
  }
  
  .musics-library .text-wrapper {
    width: 117px;
    top: 28px;
    left: 439px;
    position: absolute;
    font-family: 'redhatdisp',sans-serif;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .musics-library .text-wrapper-2 {
    width: 79px;
    top: 28px;
    left: 705px;
    position: absolute;
    font-family: 'redhatdisp',sans-serif;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .musics-library .text-wrapper-3 {
    width: 104px;
    top: 29px;
    left: 813px;
    position: absolute;
    font-family: 'redhatdisp',sans-serif;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .musics-library .text-wrapper-5 {
    width: 91px;
    top: 28px;
    left: 585px;
    position: absolute;
    font-family: 'redhatdisp',sans-serif;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .musics-library .pmlogo {
    position: absolute;
    width: 199px;
    height: 61px;
    top: 17px;
    left: 55px;
    object-fit: cover;
  }
  
  .musics-library .text-wrapper-6 {
    position: absolute;
    width: 96px;
    top: 27px;
    left: 318px;
    font-family: 'redhatdisp',sans-serif;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .musics-library .overlap {
    position: absolute;
    width: 1184px;
    height: 500px;
    top: 302px;
    left: 129px;
  }
  
  .musics-library .list {
    position: absolute;
    width: 1184px;
    height: 500px;
    top: 0;
    left: 0;
  }
  
  .musics-library .rectangle {
    position: absolute;
    width: 636px;
    height: 70px;
    top: 390px;
    left: 0;
    background-color: #ffffff;
    border-radius: 26px;
    border: 3px solid;
    border-color: #006134;
  }

  #audiop {
    position: absolute;
    padding-left: 5px;
    width: 98%;
    height: 63px;
  }
  
  .musics-library .rectangle-2 {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: 684px;
    content: url(resources/files/bgmlib/Album/b05.jpg);
    border-radius: 14px;
  }
  
  .musics-library .text-wrapper-7 {
    position: absolute;
    width: 612px;
    top: 123px;
    left: 0;
    font-family: 'redhatdisp',sans-serif;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .musics-library .overlap-group {
    position: absolute;
    width: 918px;
    height: 370px;
    top: 832px;
    left: 129px;
    background-color: #006134;
    border-radius: 26px;
  }
  
  .musics-library .div-wrapper {
    position: absolute;
    width: 233px;
    height: 76px;
    top: 265px;
    left: 655px;
    background-color: #006134;
    border-radius: 26px;
    border: 3px solid;
    border-color: #ffffff;
  }
  
  .musics-library .text-wrapper-8 {
    position: absolute;
    width: 159px;
    top: 16px;
    left: 34px;
    font-family: 'redhatdispB',sans-serif;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .musics-library .text-wrapper-9 {
    position: absolute;
    width: 839px;
    top: 33px;
    left: 36px;
    font-family: 'redhatdisp',sans-serif;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .musics-library .text-wrapper-10 {
    position: absolute;
    width: 612px;
    top: 145px;
    left: 129px;
    font-family: 'redhatdispBLK',sans-serif;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 72px;
    letter-spacing: 0;
    line-height: normal;
  }