.homepage {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .homepage .div {
    background-color: #000000;
    overflow: hidden;
    width: 1440px;
    height: 3019px;
    position: relative;
  }
  
  .homepage .navbar {
    position: absolute;
    width: 1450px;
    height: 95px;
    top: 0;
    left: 0;
  }
  
  .homepage .navbar-2 {
    position: relative;
    width: 1440px;
    height: 95px;
    background-image: url(./img/rectangle-1.png);
    background-size: 100% 100%;
  }
  
  .homepage .text-wrapper {
    width: 117px;
    left: 317px;
    position: absolute;
    top: 28px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper-2 {
    width: 79px;
    left: 573px;
    position: absolute;
    top: 28px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper-3 {
    width: 104px;
    left: 676px;
    position: absolute;
    top: 28px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper-4 {
    width: 117px;
    left: 804px;
    position: absolute;
    top: 28px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .homepage .text-wrapper-5 {
    width: 91px;
    left: 458px;
    position: absolute;
    top: 28px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .homepage .pmlogo {
    position: absolute;
    width: 199px;
    height: 61px;
    top: 17px;
    left: 55px;
    object-fit: cover;
  }
  
  .homepage .list {
    height: 273px;
    top: 392px;
    left: 129px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .overlap {
    height: 273px;
    position: relative;
    width: 569px;
    background-color: #006134;
    border-radius: 26px;
  }
  
  .homepage .rectangle {
    position: absolute;
    width: 223px;
    height: 211px;
    top: 31px;
    left: 33px;
    background-color: #d9d9d9;
    border-radius: 14px;
  }
  
  .homepage .overlap-group {
    width: 163px;
    top: 198px;
    left: 373px;
    position: absolute;
    height: 44px;
    background-color: #006134;
    border-radius: 13px;
    border: 3px solid;
    border-color: #d9d9d9;
  }
  
  .homepage .text-wrapper-6 {
    width: 80px;
    left: 39px;
    position: absolute;
    top: 4px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage .text-wrapper-7 {
    position: absolute;
    width: 262px;
    top: 52px;
    left: 285px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage .text-wrapper-8 {
    position: absolute;
    width: 135px;
    top: 162px;
    left: 285px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage .overlap-wrapper {
    height: 273px;
    top: 392px;
    left: 741px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .overlap-group-wrapper {
    height: 273px;
    top: 980px;
    left: 129px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .div-wrapper {
    height: 273px;
    top: 980px;
    left: 741px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-2 {
    height: 273px;
    top: 686px;
    left: 129px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-3 {
    height: 273px;
    top: 686px;
    left: 741px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-4 {
    height: 273px;
    top: 1423px;
    left: 129px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-5 {
    height: 273px;
    top: 1423px;
    left: 741px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-6 {
    height: 273px;
    top: 2011px;
    left: 129px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-7 {
    height: 273px;
    top: 2011px;
    left: 741px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-8 {
    height: 273px;
    top: 1717px;
    left: 129px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-9 {
    height: 273px;
    top: 1717px;
    left: 741px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-10 {
    height: 138px;
    top: 2454px;
    left: 129px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .overlap-2 {
    height: 138px;
    position: relative;
    width: 569px;
    background-color: #006134;
    border-radius: 26px;
  }
  
  .homepage .overlap-group-2 {
    width: 136px;
    top: 79px;
    left: 415px;
    position: absolute;
    height: 44px;
    background-color: #006134;
    border-radius: 13px;
    border: 3px solid;
    border-color: #d9d9d9;
  }
  
  .homepage .text-wrapper-9 {
    width: 83px;
    left: 23px;
    position: absolute;
    top: 4px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage .overlap-group-3 {
    width: 141px;
    top: 80px;
    left: 261px;
    position: absolute;
    height: 44px;
    background-color: #006134;
    border-radius: 13px;
    border: 3px solid;
    border-color: #d9d9d9;
  }
  
  .homepage .text-wrapper-10 {
    position: absolute;
    width: 55px;
    top: 3px;
    left: 40px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage .text-wrapper-11 {
    position: absolute;
    width: 262px;
    top: 18px;
    left: 26px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage .list-11 {
    height: 138px;
    top: 2454px;
    left: 741px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-12 {
    height: 138px;
    top: 2772px;
    left: 129px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-13 {
    height: 138px;
    top: 2772px;
    left: 741px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-14 {
    height: 138px;
    top: 2613px;
    left: 129px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .list-15 {
    height: 138px;
    top: 2613px;
    left: 741px;
    position: absolute;
    width: 575px;
  }
  
  .homepage .text-wrapper-12 {
    position: absolute;
    width: 262px;
    top: 322px;
    left: 130px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage .text-wrapper-13 {
    position: absolute;
    width: 625px;
    top: 1361px;
    left: 129px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage .text-wrapper-14 {
    position: absolute;
    width: 456px;
    top: 2392px;
    left: 129px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .homepage .text-wrapper-15 {
    position: absolute;
    width: 297px;
    top: 145px;
    left: 129px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 96px;
    letter-spacing: 0;
    line-height: normal;
  }
  