/* More button */
.homepage .more3 {
  position: absolute;
  width: 163px;
  height: 44px;
  top: 2388px;
  left: 1143px;
  background-color: #006134;
  border-radius: 13px;
}

.homepage .more2 {
  position: absolute;
  width: 163px;
  height: 44px;
  top: 1357px;
  left: 1147px;
  background-color: #006134;
  border-radius: 13px;
}

.homepage .more1 {
  position: absolute;
  width: 163px;
  height: 44px;
  top: 327px;
  left: 1147px;
  background-color: #006134;
  border-radius: 13px;
}

.homepage .moretxt {
  left: 42px;
  position: absolute;
  width: 94px;
  top: 6px;
  font-family: 'redhatdisp',sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

/* Links */

a:link { 
  color: #d9d9d9;
  text-decoration: none; 
} 
a:visited { 
  color: #d9d9d9;
  text-decoration: none; 
} 
a:hover { 
  color: yellowgreen;
  text-decoration: none; 
} 
a:active { 
  color: #d9d9d9;
  text-decoration: none; 
}


/* Fonts */

@font-face {
  font-family: "redhatdisp" ;
  src: url('resources/fonts/rhd.ttf');
}

@font-face {
  font-family: "redhatdispB" ;
  src: url('resources/fonts/rhd_bld.ttf');
}

@font-face {
  font-family: "redhatdispBLK" ;
  src: url('/resources/fonts/rhd_blk.ttf');
}

@font-face {
  font-family: "redhatdispEXB" ;
  src: url('resources/fonts/rhd_exb.ttf');
}

@font-face {
  font-family: "redhatdispI" ;
  src: url('resources/fonts/rhd_italic.ttf');
}

/*----------------------*/

body {
    display: block;
    margin: 0;
}

.musics-library {
  background-color: #006234;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.musics-library .div {
  background-color: #000000;
  overflow: hidden;
  width: 1440px;
  height: 3315px;
  position: relative;
}

.musics-library .div-2 {
  background-color: #1E1E1E;
  position: absolute;
  width: 1450px;
  height: 95px;
  top: 0;
  left: 0;
}

.musics-library .navbar {
  position: relative;
  width: 1440px;
  height: 95px;
  background-image: url(./img/rectangle-1.png);
  background-size: 100% 100%;
}





 /* Navigation Bar */

 .musics-library .text-wrapper-6 {
  position: absolute;
  width: 96px;
  top: 27px;
  left: 318px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.musics-library .text-wrapper {
  width: 117px;
  top: 28px;
  left: 439px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.musics-library .text-wrapper-2 {
  width: 79px;
  top: 28px;
  left: 705px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.musics-library .text-wrapper-3 {
  width: 104px;
  top: 29px;
  left: 813px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.musics-library .text-wrapper-4 {
  width: 117px;
  top: 28px;
  left: 946px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.musics-library .text-wrapper-5 {
  width: 91px;
  top: 28px;
  left: 585px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.musics-library .pmlogo {
  position: absolute;
  width: 199px;
  height: 61px;
  top: 17px;
  left: 55px;
  object-fit: cover;
}


/* Titles */
.musics-library .text-wrapper-10 {
  position: absolute;
  width: 612px;
  top: 145px;
  left: 129px;
  font-family: 'redhatdispBLK',sans-serif;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}



























.musics-library .list {
  position: absolute;
  width: 575px;
  height: 273px;
  top: 323px;
  left: 129px;
}

.musics-library .overlap { /* LIST 1 */
  position: relative;
  width: 569px;
  height: 273px;
  background-color: #006134;
  border-radius: 26px;
}

.musics-library .overlap-wrapper { /* LIST 2 */
  top: 323px;
  left: 741px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .overlap-group-wrapper { /* LIST 13 */
  top: 2087px;
  left: 129px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .div-wrapper { /* LIST 14 */
  top: 2087px;
  left: 741px;
  position: absolute;
  width: 575px;
  height: 273px;
}


.musics-library .rectangle {
  position: absolute;
  width: 223px;
  height: 211px;
  top: 31px;
  left: 33px;
  background-color: #d9d9d9;
  border-radius: 14px;
}

.musics-library .overlap-group {
  position: absolute;
  width: 163px;
  height: 44px;
  top: 198px;
  left: 373px;
  background-color: #006134;
  border-radius: 13px;
  border: 3px solid;
  border-color: #d9d9d9;
}

.musics-library .text-wrapper-7 {
  position: absolute;
  width: 80px;
  top: 4px;
  left: 39px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.musics-library .text-wrapper-8 {
  position: absolute;
  width: 262px;
  top: 52px;
  left: 285px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.musics-library .text-wrapper-9 {
  position: absolute;
  width: 135px;
  top: 162px;
  left: 285px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}


.musics-library .list-2 {
  top: 911px;
  left: 129px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-3 {
  top: 911px;
  left: 741px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-4 {
  top: 617px;
  left: 129px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-5 {
  top: 617px;
  left: 741px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-6 {
  top: 1205px;
  left: 129px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-7 {
  top: 1205px;
  left: 741px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-8 {
  top: 1793px;
  left: 129px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-9 {
  top: 1793px;
  left: 741px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-10 {
  top: 1499px;
  left: 129px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-11 {
  top: 1499px;
  left: 741px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-12 {
  top: 2969px;
  left: 129px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-13 {
  top: 2969px;
  left: 741px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-14 {
  top: 2675px;
  left: 129px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-15 {
  top: 2675px;
  left: 741px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-16 {
  top: 2381px;
  left: 129px;
  position: absolute;
  width: 575px;
  height: 273px;
}

.musics-library .list-17 {
  top: 2381px;
  left: 741px;
  position: absolute;
  width: 575px;
  height: 273px;
}
